<body>
<% if admin_signed_in? %>
  <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete  %>
<%elsif !admin_signed_in?  %>
  <%= link_to 'Sign In', new_admin_session_path %>
<% end %>
</body>
<h1> Welcome to the admin-zone of hotel "California" </h1>
